.player-view {
    min-height: 100%;
}

.player-view .playing-hand {
    flex-basis: 80rem;
}

.player-view .story-board {
    flex-basis: 30rem;
    border-left: 1px solid #5E8EDD;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.my-hand {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.table {
    max-width: 350px;
}

.turn-action-area {
    display: flex;
    flex: 0 0 20%;
    justify-content: space-between;
    margin-right: 20px;
    border-bottom: 3px solid #CE7272;
}

.turn-summary {
    justify-content: center;
    display: flex;
    flex: 1;
}